<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.3.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <!--UI classes-->
    <context:component-scan base-package="layers.web.vaadin"/>

    <!--SERVICE classes-->
    <context:component-scan base-package="layers.service"/>

    <!--HELPER classes-->
    <context:component-scan base-package="utility.helpers"/>

    <util:list id="notifications" value-type="java.lang.String"/>

    <util:map id="patterns" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="Commons" value="images/colors"/>
        <entry key="Flags" value="images/flags"/>
        <entry key="Plains" value="images/plain"/>
    </util:map>

    <bean id="originalImageView"
          class="com.vaadin.ui.Image" scope="session"/>

    <bean id="generatedImageView"
          class="com.vaadin.ui.Image" scope="session"/>

</beans>